# All
# .gitignore

# Ignore all README files except the root README.md
README.md
*/**/README.md
############################################
# TYPESCRIPT
# Ignore compiled JavaScript files
Typescript/**/*.js
Typescript/**/*.js.map

# Ignore node_modules directory
Typescript/node_modules/

# Ignore TypeScript cache and output directories
Typescript/dist/
Typescript/build/
Typescript/out/

# Ignore TypeScript declaration files (optional)
Typescript/**/*.d.ts

# Ignore other potential output files
Typescript/**/*.log

# Ignore coverage reports
Typescript/coverage/

############################################
# ReactjsAdvanced
# .gitignore

# Ignore node_modules directory
ReactjsAdvanced/my-react-learn-app/node_modules/

# Ignore build output directory
ReactjsAdvanced/my-react-learn-app/build/

# Ignore coverage reports
ReactjsAdvanced/my-react-learn-app/coverage/

# Ignore .env files
ReactjsAdvanced/my-react-learn-app/.env

# Ignore .DS_Store files
ReactjsAdvanced/my-react-learn-app/.DS_Store

############################################

# Redux
# .gitignore

# Ignore node_modules directory
Redux/redux-learn/node_modules/

# Ignore build output directory
Redux/redux-learn/build/

# Ignore .d.ts files
Redux/**/*.d.ts

############################################
# Zustand 
Redux/zustand-app/node_modules/
Redux/zustand-app/.env
Redux/zustand-app/.DS_Store
Redux/zustand-app/build/

